# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
.Python
env/
venv/
dist/
build/
.eggs/
lib/
lib64/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# mypy
.mypy_cache/

# Python coverage
.coverage
.coverage.*
*.cover

# CSV
*.csv

# Java
*.class
*.jar
*.war
*.ear
*.class

# Compiled source #
*.o
*.so
